.card-dashboard{

    background-color: var(--main-color);
    width: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;

}

.card-dashboard:hover{

    background-color: white;
    color: var(--main-color);
    transition: 0.05s ease;
}

.text-card{

    font-size: 25px;

}

.btn-add-carros{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-add-carros:hover{

    transition: 0.05s ease;
    background-color: white;
    border: 3px solid white ;
    color: var(--contrast-color);
}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

.btn-principal:hover{

    background-color: white;
    color: var(--dark-color);
    border: 1px solid white;
}